<div>
  <mat-toolbar *ngIf="headerEnable">
    <mat-toolbar-row>
      <span>E commerce Site</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon (click)="printCart()" >shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>perm_identity</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>